/* reset.css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: middle; font: inherit; color: inherit; }
html, body { height: 100%; -webkit-text-size-adjust: none; }
main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
img, picture, video, canvas, svg { display: block; max-width: 100%; height: auto; }
ol, ul { list-style: none; margin: 0; }
a { color: inherit; text-decoration: none; }
blockquote, q { quotes: none; }
blockquote::before, blockquote::after, q::before, q::after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
table caption { width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; position: absolute; clip: rect(0,0,0,0); clip-path: polygon(0 0,0 0,0 0); border: 0; white-space: nowrap; }
input, button, form, select { padding: 0; margin: 0; font-family: inherit; font-size: inherit; }
input[type=text], input[type=password], input[type=submit], input[type=search], input[type=email], input[type=tel], textarea, select { -webkit-appearance: none; border-radius: 0; }
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; }
input[type=number] { -moz-appearance: textfield; }
button { cursor: pointer; border: 0; background: none; }
legend { width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; position: absolute; clip: rect(0,0,0,0); clip-path: polygon(0 0,0 0,0 0); border: 0; white-space: nowrap; }
dialog { border: 0; margin: 0; padding: 0; max-width: none; max-height: none; color: inherit; visibility: visible; }
*, ::after, ::before { box-sizing: border-box; }
:focus:not(:focus-visible) { outline: 0; }
:focus-visible { outline: 0; box-shadow: 0 0 2px 2px hsl(50deg 100% 58%); }

:root {
	--primary-color: hsla(0, 0%, 0%, 1);
	--gray-color: #777;
	--white-color: hsla(0, 0%, 100%, 1);

	--text-black-color: hsla(0, 0%, 0%, 1);
	--text-gray-color: hsla(0, 0%, 63%, 1);
	--text-gray-color2: hsla(0, 0%, 85%, 1);
	--text-white-color: hsla(0, 0%, 100%, 1);

	--bg-white-color: hsla(0, 0%, 100%, 1);
	--bg-black-color: hsla(0, 0%, 0%, 1);
	--bg-gray-color: hsla(0, 0%, 96%, 1);

	--line-gray-color: hsla(0, 0%, 75%, 1);
	--line-black-color: hsla(0, 0%, 0%, 1);
	--line-black-color2: hsla(300, 4%, 16%, 1);

	--width: 1920px;
	--width2: 1680px;
	--header-zindex: 10;
	--footer-zindex: 10;
	--popup-zindex: 100;
	--quick-zindex: 50;
}

html {
	&.fixed-scroll {
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		position: fixed;
	}
}

body {
	line-height: 1.3;
	font-family: 'SUIT', sans-serif;
	font-weight: 400;
}

.wrapper {
	min-width: var(--width);
	min-height: 100vh;
}

.main-header {
	width: 100%;
	height: 91px;
	background-color: rgba(255,255,255,1);
	position: fixed;
	top: 0;
	left: 0;
	transform: translateY(0);
	transition: background .4s, transform .4s;
	z-index: var(--header-zindex);

	&::after {
		content: '';
		width: 100%;
		height: 1px;
		background-color: var(--primary-color);
		position: absolute;
		bottom: 0;
		left: 0;
		transition: background .4s;
	}

	& > .inner {
		max-width: 1920px;
		min-width: var(--width);
		height: 100%;
		margin: 0 auto;
		padding: 0 40px;
		position: relative;
		
		&::after {
			content: '';
			width: 1px;
			height: 100%;
			background-color: var(--primary-color);
			position: absolute;
			top: 0;
			right: 100px;
			transition: background .4s;
		}
	}

	:is(.black, .white) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-left: 40px;
		transition: opacity .4s;
	}

	.black { opacity: 1; }
	.white { opacity: 0; }

	&.is-white {
		background-color: rgba(255,255,255,0);

		&::after { background-color: var(--white-color); }
		.inner::after { background-color: var(--white-color); }
		.black { opacity: 0; }
		.white { opacity: 1; }

		.hash-link {
			.txt { color: var(--text-white-color); }
		}
	}

	&.is-hide {
		transform: translateY(calc(-100% - 10px));
	}

	.fixed-scroll & {
		background-color: rgba(255,255,255,1);

		&::after { background-color: var(--primary-color); }
		.inner::after { background-color: var(--primary-color); }
		.black { opacity: 1; }
		.white { opacity: 0; }
	}

	.link-thepaper {
		width: 200px;
		height: 71px;
		position: absolute;
		top: 9px;
		left: 360px;
	}

	.link-search {
		width: 90px;
		height: 71px;
		position: absolute;
		top: 9px;
		right: 0;
	}

	.hash-link {
		width: 180px;
		height: 45px;
		position: absolute;
		top: 50%;
		right: 100px;
		overflow: hidden;
		transform: translateY(-50%);

		.list {
			width: 100%;
			height: 100%;

			.item {
				display: flex;
				align-items: center;
				cursor: pointer;

				&:hover {
					.txt { text-decoration: underline; }
				}
			}
		}

		.txt {
			font-size: 24px;
			font-weight: 600;
			color: var(--text-black-color);
		}
	}
}

.main-index {
	.section {
		& > .inner {
			width: var(--width);
			padding: 160px 40px;
			margin: 0 auto;

			& > .title {
				display: flex;
				flex-direction: column;
				align-items: center;
	
				.sub {
					font-size: 26px;
					font-weight: 500;
					color: hsla(0, 0%, 27%, 0.53);
					margin-bottom: 10px;
				}
	
				.main {
					font-size: 60px;
					font-weight: 700;
					color: var(--text-black-color);
				}
			}
		}
	}

	.video {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,.6);
		}

		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	& > * {
		&:not(.video, .video-banner) {
			position: relative;
			z-index: 2;
			background-color: #fff;
		}
	}

	.intro {
		height: 1080px;
		background-attachment: fixed;

		& > .inner {
			height: 100%;
			position: relative;
		}

		.list { height: 100%; }

		.bg {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;

			.img {
				width: 3800px;
				height: 2080px;
				position: absolute;
				top: 0;
				left: 0;
				background-size: 3800px auto;
				background-position: center calc(50% - 100px);
				background-repeat: no-repeat;
				background-attachment: fixed;
				opacity: 0;
				transition: opacity 3s;

				&.is-active { opacity: 1; }
			}
		}

		.box {
			display: flex;
			align-items: center;
			width: var(--width2);
			padding: 0 40px;
			height: 100%;
			margin: 0 auto;
		}

		.title {
			line-height: 1.2;
			color: var(--text-white-color);

			.sub {
				font-size: 51px;
				font-weight: 400;
				margin-bottom: 10px;
			}

			.main {
				font-size: 88px;
				font-weight: 700;
			}
		}

		.fraction {
			display: flex;
			justify-content: flex-end;
			width: 100%;
			width: var(--width2);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 20px;

			&.in-motion {
				.line {
					&::after {
						height: 56px;
						transition: height 5s;
					}
				}
			}

			& > .inner {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.current { color: var(--text-white-color); }

			.line {
				width: 1px;
				height: 56px;
				margin: 8px 0;
				background-color: var(--text-gray-color);;
				transition: height 1s;
				transition-timing-function: ease-out;
				position: relative;
				
				&::after {
					content: '';
					width: 100%;
					height: 0;
					background-color: var(--bg-white-color);
					position: absolute;
					bottom: 0;
					left: 0;
					transition: height .6s;
				}
			}

			.total {
				color: var(--text-gray-color);
			}
		}
	}

	.custom-paper {
		overflow: hidden;

		.filter {
			display: flex;
			justify-content: center;
			margin-top: 40px;
		}

		.util {
			display: flex;
			justify-content: space-between;
			margin-top: 55px;
		}

		.list {
			width: 100%;
			height: 467px;
			margin-top: 142px;
			overflow: visible;
			position: relative;

			& > .inner {
				display: flex;
				width:  100%;
			}
		}

		.item {
			width: auto;
			padding: 0 8px;

			&.is-selected {
				.card {
					:is(.front, .back) { top: -119px; }
	
					.btn-add {
						height: 119px;
						padding: 17px 9px;
					}

					.btn-popup { top: -119px; }
	
					.front {
						&::before { background-color: rgba(0,0,0,.6); }
						&::after { opacity: 1; }
					}

					.cart {
						.num { display: inline-flex; }
					}
				}
			}
		}

		.card {
			width: 195px;
			height: 467px;
			position: relative;
			cursor: pointer;

			&:hover {
				:is(.front, .back) { top: -119px; }

				.btn-add {
					height: 119px;
					padding: 17px 9px;
				}

				.btn-popup { top: -119px; }

				.front {
					&::before { background-color: rgba(0,0,0,.6); }
					&::after { opacity: 1; }
				}
			}
		}

		:is(.front, .back) {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			transition: top .2s .03s;
			transition-timing-function: ease-in-out;
		}

		.front {
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0);
				transition: background .3s;
			}

			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 62px;
				height: 62px;
				background: url('../img/main/btn-plus.png') no-repeat;
				background-size: 62px auto;
				background-position: center center;
				transform: translate(-50%, -50%);
				opacity: 0;
				transition: opacity .3s;
			}
		}

		.back { display: none; }

		.img {
			width: 100%;
			height: 100%;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.swiper-scrollbar {
			position: static;
			width: 708px;
			margin: 67px auto 0;
			background-color: transparent;
			position: relative;
			
			&::after {
				content: '';
				width: 100%;
				height: 2px;
				background-color: var(--line-gray-color);
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}

		.swiper-scrollbar-drag {
			height: 6px;
			background-color: var(--line-black-color);
			position: relative;
			z-index: 1;
		}

		.btn-add {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 0;
			overflow: hidden;
			padding: 0 9px;
			position: absolute;
			bottom: 0;
			left: 0;
			transition: height .2s, padding .2s;
			transition-timing-function: ease-in-out;

			&:hover {
				.cart { text-decoration: underline; }
			}

			.sub {
				font-size: 12px;
				color: var(--text-gray-color);
				margin-bottom: 4px;
			}

			.main {
				font-size: 22px;
				color: var(--text-black-color);
			}

			.cart {
				margin-top: 19px;
				font-size: 16px;
				font-weight: 500;
				color: var(--text-black-color);

				.num {
					display: none;
					justify-content: center;
					align-items: center;
					width: 20px;
					height: 20px;
					padding-top: 3px;
					font-size: 16px;
					font-weight: 600;
					color: var(--text-white-color);
					border-radius: 50%;
					background-color: var(--bg-black-color);
				}
			}
		}

		.btn-popup {
			width: 195px;
			height: 467px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		}
	}

	.bar-banner {
		height: 208px;
		background-size: 100% auto;
		background-position: center center;
		background-attachment: fixed;

		& > .inner {
			width: 1920px;
			margin: 0 auto;
		}

		.img {
			cursor: pointer;

			img {
				width: 100%;
				vertical-align: top;
			}
		}
	}

	.new-product {
		.list {
			display: flex;
			justify-content: center;
			margin-top: 67px;
		}

		.item {
			cursor: pointer;

			&:not(:first-child) { margin-left: 38px; }
		}

		.img {
			width: 336px;
			height: 577px;
			position: relative;
			overflow: hidden;

			img {
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		.action {
			display: flex;
			justify-content: center;
			margin-top: 98px;
		}
	}

	.video-banner {
		min-width: var(--width);
		height: 550px;
		overflow: hidden;
		position: relative;

		& > .inner {
			width: var(--width);
			height: 100%;
			margin: 0 auto;
			position: relative;
		}

		.logo {
			.img1 {
				overflow: hidden;
				width: 236px;
				height: 250px;
				position: absolute;
				top: 158px;
				left: 340px;
			}

			.img2 {
				overflow: hidden;
				width: 286px;
				height: 250px;
				position: absolute;
				top: 248px;
				left: 288px;
			}
		}

		.desc {
			.img {
				width: 403px;
				height: 254px;
				position: absolute;
				top: 154px;
				left: 639px;
			}
		}

		.action {
			.img {
				overflow: hidden;
				width: 264px;
				height: 172px;
				position: absolute;
				top: 200px;
				left: 1381px;
			}
		}
	}

	.beyond-experience {
		.list {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 1600px;
			margin: 55px auto 0;
			padding: 58px 0 158px; // 216
		}

		.item {
			&:not(:first-child) { margin-top: 34px; }

			&:nth-child(odd) {
				.btn-action {
					img {
						left: auto;
						right: 0;
						transform: translate(calc(50% + 20px), -50%);
					}
				}
				.img1 {
					overflow: hidden;
					width: 390px;
					height: 500px;
					position: absolute;
					top: 40px;
					left: 63px;
				}
				.img2 {
					overflow: hidden;
					width: 242px;
					height: 311px;
					position: absolute;
					top: 371px;
					left: 337px;
				}
				.img3 {
					overflow: hidden;
					width: 227px;
					height: 291px;
					position: absolute;
					top: 4px;
					left: 1075px;
				}
				.img4 {
					overflow: hidden;
					width: 402px;
					height: 516px;
					position: absolute;
					top: 165px;
					left: 1195px;
				}

				img {
					transition: transform .01s .3s, opacity .3s .01s;
					opacity: 0;
				}
				.img1 img { transform: translate(100%,0); }
				.img2 img { transform: translate(-100%,0); }
				.img3 img { transform: translate(0,100%); }
				.img4 img { transform: translate(0,-100%); }
			}
			&:nth-child(even) {
				.btn-action {
					img {
						left: 0;
						right: auto;
						transform: translate(calc(-50% - 20px), -50%);
					}
				}
				.img1 {
					overflow: hidden;
					width: 333px;
					height: 427px;
					position: absolute;
					top: 0;
					left: 0;
				}
				.img2 {
					overflow: hidden;
					width: 284px;
					height: 364px;
					position: absolute;
					top: 260px;
					left: 269px;
				}
				.img3 {
					overflow: hidden;
					width: 200px;
					height: 256px;
					position: absolute;
					top: 0;
					left: 1400px;
				}
				.img4 {
					overflow: hidden;
					width: 402px;
					height: 516px;
					position: absolute;
					top: 160px;
					left: 1067px;
				}

				img {
					transition: transform .01s .3s, opacity .3s .01s;
					opacity: 0;
				}
				.img1 img { transform: translate(100%,0); }
				.img2 img { transform: translate(-100%,0); }
				.img3 img { transform: translate(0,100%); }
				.img4 img { transform: translate(0,-100%); }
			}

			&.is-active {
				.btn-action {
					font-weight: 600;
					color: var(--text-black-color);
	
					transition: color .4s;

					img { transition: opacity .4s .4s !important; }
				}
			}

			&:nth-child(odd) {
				&.is-active {
					img {
						transition: transform .6s .3s,opacity .3s .01s;
						opacity: 1;
					}
					.img1 img { transform: translate(0,0); }
					.img2 img { transform: translate(0,0); }
					.img3 img { transform: translate(0,0); }
					.img4 img { transform: translate(0,0); }
				}
			}

			&:nth-child(even) {
				&.is-active {
					img {
						transition: transform .6s .3s,opacity .3s .01s;
						opacity: 1;
					}
					.img1 img { transform: translate(0,0); }
					.img2 img { transform: translate(0,0); }
					.img3 img { transform: translate(0,0); }
					.img4 img { transform: translate(0,0); }
				}
			}
		}

		.btn-action {
			font-size: 54px;
			color: var(--text-gray-color2);
			position: relative;
			z-index: 2;

			span {
				position: relative;
				z-index: 1;
			}

			img {
				width: 96px;
				height: 96px;
				position: absolute;
				top: 50%;
				left: auto;
				right: 0;
				transform: translate(calc(50% + 20px), -50%);
				opacity: 0;
				transition: opacity 1s;
			}
		}

		.content {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}

		.img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.paper-more {
		background-color: #F6F6F6;

		& > .inner {
			.title { align-items: flex-start; }
		}

		.accordion {
			margin-top: 50px;

			.item {
				position: relative;
				
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: var(--line-black-color2);
				}

				&:first-child {
					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 1px;
						background-color: var(--line-black-color2);
					}
				}

				&.is-open {
					.title {
						font-size: 34px;

					}
					.arrow {
						&::after { transform: rotate(0); }
					}
				}
			}

			.title {
				display: flex;
				align-items: center;
				height: 90px;
				padding: 6px 80px 6px 10px;
				font-size: 26px;
				font-weight: 700;
				color: var(--text-black-color);
				position: relative;
				cursor: pointer;
				transition: font .4s;
			}

			.arrow {
				width: 50px;
				height: 50px;
				position: absolute;
				top: 20px;
				right: 20px;

				&::before, &::after {
					content: '';
					width: 50px;
					height: 1px;
					background-color: var(--line-black-color2);
					position: absolute;
					top: 50%;
					left: 0;

					transition: transform .4s;
				}

				&::before {
					transform: rotate(0);
				}
				&::after {
					transform: rotate(90deg);
				}
			}

			.content {
				display: none;
				padding-bottom: 30px;
			}
		}
	}

	.certifi-mark {
		padding: 50px 0;
		overflow: hidden;

		.list {
			width: 2850px;
			overflow-x: visible;
			scrollbar-width: none;

			&::-webkit-scrollbar { display: none; }

			& > .inner {
				display: flex;
				transition-timing-function: linear !important;
			}
		}
	}

	.quick-menu {
		background-color: transparent;
		position: fixed;
		bottom: 50px;
		right: 40px;
		z-index: var(--quick-zindex);

		.list {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.cart {
			width: 102px;
			height: 102px;
			background-color: #2A2727;
			border-radius: 50%;
			position: relative;

			&::before {
				content: '비교 담기';
				position: absolute;
				top: 28px;
				left: 50%;
				transform: translateX(-50%);
				font-size: 12px;
				font-weight: 600;
				color: var(--text-white-color);
				z-index: 1;
			}

			.chart {
				display: block;
				width: 102px;
				height: 102px;
				border-radius: 50%;
				background: conic-gradient(rgba(255, 255, 255, .3) 0% 100%);
				position: relative;
				transition: background .4s;

				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: 84px;
					height: 84px;
					border-radius: 50%;
					background-color: #2A2727;
					transform: translate(-50%, -50%);
				}

				&::after {
					content: '';
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					border-radius: 50%;
					border: 5px solid #2A2727;
					background-color:transparent;
				}
			}

			&.is-one .chart { background: conic-gradient(rgba(255, 255, 255, .3) 0% 50%, #fff 50% 87.5%, rgba(255, 255, 255, .3) 87.5% 100%); }
			&.is-two .chart { background: conic-gradient(#fff 0% 12.5%, rgba(255, 255, 255, .3) 12.5% 50%, #fff 50% 100%); }
			&.is-three .chart { background: conic-gradient(#fff 0% 100%); }

			.num {
				position: absolute;
				top: 40px;
				left: 50%;
				transform: translateX(-50%);
				color: hsla(0, 0%, 71%, 1);

				.current {
					font-size: 30px;
					font-weight: 700;
					color: var(--text-white-color);
				}
				.slash {
					font-size: 11px;
					margin: 0 4px;
				}
				.total { font-size: 16px; }
			}
		}
	}

	// 모션 스타일
	.section {
		& > .inner {
			.title {
				.sub {
					opacity: 0;
					transform: translateY(30%);
					transition-timing-function: ease-out;
					transition: opacity .1s, transform .1s .1s;
				}

				.main {
					span {
						display: inline-block;
						opacity: 0;
						transform: translateY(30%);
						transition-timing-function: ease-out;
						transition: opacity .1s, transform .1s .1s;
					}
				}
			}
		}

		&.aos-init {
			&.aos-animate {
				.title {
					.sub {
						opacity: 1;
						transform: translateY(0);
						transition: opacity .5s .9s, transform .5s .9s;
					}
	
					.main {
						span {
							opacity: 1;
							transform: translateY(0);
							transition: opacity .5s, transform .5s;

							&:nth-child(2) { transition: opacity .5s .2s, transform .5s .2s; }
							&:nth-child(3) { transition: opacity .5s .4s, transform .5s .4s; }
							&:nth-child(4) { transition: opacity .5s .6s, transform .5s .6s; }
						}
					}
				}
			}
		}
	}

	.intro {
		.item {
			&.swiper-slide {
				.title {
					.sub {
						opacity: 0;
						transform: translateY(30%);
						transition: opacity .6s .01s, transform .6s .01s;
						transition-timing-function: ease-out;
					}
	
					.main {
						span {
							display: inline-block;
							opacity: 0;
							transform: translateY(30%);
							transition: opacity .6s .01s, transform .6s .01s;
							transition-timing-function: ease-out;
						}
					}
				}
				
				&.swiper-slide-active {
					.title {
						.sub {
							opacity: 1;
							transform: translateY(0);
							transition: opacity 1.2s 1.7s, transform 1.2s 1.7s;
						}
		
						.main {
							span {
								opacity: 1;
								transform: translateY(0);
								transition: opacity 1s .4s, transform 1s .4s;
	
								&:nth-child(2) { transition: opacity 1s .7s, transform 1s .7s; }
								&:nth-child(3) { transition: opacity 1s 1s, transform 1s 1s; }
								// &:nth-child(4) { transition: opacity 1s 1.25s, transform 1s 1.25s; }
							}
						}
					}
				}
			}
		}
	}

	.custom-paper {
		.inner {
			--card-delay: 0.001s;
			// --card-delay: 1.2s;
	
			.translate {
				transition: transform .001s .001s;
				transform: translate(200vw, 0);
			}
			&.aos-init {
				&.aos-animate {
					.item {
						.translate {
							transition: transform 2s calc(var(--card-delay) + .001s);
							transform: translate(0, 0);
							will-change: transform;
						}
					}
				}
			}
	
			@keyframes cardScale {
				0% { transform: scale(1); }
				20% { transform: scale(1.2); }
				30% { transform: scale(.8); }
				50% { transform: scale(1.6); }
				70% { transform: scale(1); }
				100% { transform: scale(1); }
			}
			&.aos-init {
				&.aos-animate {
					.item {
						.scale {
							animation-duration: 2s;
							animation-name: cardScale;
							animation-iteration-count: 1;
							animation-delay: calc(var(--card-delay) + .001s);
							animation-timing-function: ease-out;
							will-change: transform;
						}
	
						&:nth-child(2) .scale { animation-delay: calc(var(--card-delay) + .05s); }
						&:nth-child(3) .scale { animation-delay: calc(var(--card-delay) + .1s); }
						&:nth-child(4) .scale { animation-delay: calc(var(--card-delay) + .15s); }
						&:nth-child(5) .scale { animation-delay: calc(var(--card-delay) + .2s); }
						&:nth-child(6) .scale { animation-delay: calc(var(--card-delay) + .25s); }
						&:nth-child(7) .scale { animation-delay: calc(var(--card-delay) + .3s); }
						&:nth-child(8) .scale { animation-delay: calc(var(--card-delay) + .35s); }
						&:nth-child(9) .scale { animation-delay: calc(var(--card-delay) + .4s); }
						&:nth-child(10) .scale { animation-delay: calc(var(--card-delay) + .45s); }
						&:nth-child(11) .scale { animation-delay: calc(var(--card-delay) + .5s); }
						&:nth-child(12) .scale { animation-delay: calc(var(--card-delay) + .55s); }
						&:nth-child(13) .scale { animation-delay: calc(var(--card-delay) + .6s); }
						&:nth-child(14) .scale { animation-delay: calc(var(--card-delay) + .65s); }
						&:nth-child(15) .scale { animation-delay: calc(var(--card-delay) + .7s); }
						&:nth-child(16) .scale { animation-delay: calc(var(--card-delay) + .75s); }
						&:nth-child(17) .scale { animation-delay: calc(var(--card-delay) + .8s); }
						&:nth-child(18) .scale { animation-delay: calc(var(--card-delay) + .85s); }
					}
				}
			}
	
			@keyframes cardSkew {
				0% { transform: skew(0); }
				10% { transform: skew(0); }
				30% { transform: skew(-10deg); }
				100% { transform: skew(0); }
			}
			&.aos-init {
				&.aos-animate {
					.item {
						.skew {
							animation-duration: 2s;
							// animation-name: cardSkew;
							animation-delay: calc(var(--card-delay) + .001s);
							animation-iteration-count: 1;
							will-change: transform;
						}
	
						&:nth-child(2) .skew { animation-delay: calc(var(--card-delay) + .05s); }
						&:nth-child(3) .skew { animation-delay: calc(var(--card-delay) + .1s); }
						&:nth-child(4) .skew { animation-delay: calc(var(--card-delay) + .15s); }
						&:nth-child(5) .skew { animation-delay: calc(var(--card-delay) + .2s); }
						&:nth-child(6) .skew { animation-delay: calc(var(--card-delay) + .25s); }
						&:nth-child(7) .skew { animation-delay: calc(var(--card-delay) + .3s); }
						&:nth-child(8) .skew { animation-delay: calc(var(--card-delay) + .35s); }
						&:nth-child(9) .skew { animation-delay: calc(var(--card-delay) + .4s); }
						&:nth-child(10) .skew { animation-delay: calc(var(--card-delay) + .45s); }
						&:nth-child(11) .skew { animation-delay: calc(var(--card-delay) + .5s); }
						&:nth-child(12) .skew { animation-delay: calc(var(--card-delay) + .55s); }
						&:nth-child(13) .skew { animation-delay: calc(var(--card-delay) + .6s); }
						&:nth-child(14) .skew { animation-delay: calc(var(--card-delay) + .65s); }
						&:nth-child(15) .skew { animation-delay: calc(var(--card-delay) + .7s); }
						&:nth-child(16) .skew { animation-delay: calc(var(--card-delay) + .75s); }
						&:nth-child(17) .skew { animation-delay: calc(var(--card-delay) + .8s); }
						&:nth-child(18) .skew { animation-delay: calc(var(--card-delay) + .85s); }
					}
				}
			}
	
			@keyframes cardTop {
				0% { margin-top: 0; }
				70% { margin-top: -100px; }
				100% { margin-top: 0; }
			}
			&.aos-init {
				&.aos-animate {
					.item {
						.top {
							animation-duration: 2s;
							// animation-name: cardTop;
							animation-delay: calc(var(--card-delay) + .001s);
							animation-iteration-count: 1;
							will-change: margin;
						}
	
						&:nth-child(2) .top { animation-delay: calc(var(--card-delay) + .1s); }
						&:nth-child(3) .top { animation-delay: calc(var(--card-delay) + .2s); }
						&:nth-child(4) .top { animation-delay: calc(var(--card-delay) + .3s); }
						&:nth-child(5) .top { animation-delay: calc(var(--card-delay) + .4s); }
						&:nth-child(6) .top { animation-delay: calc(var(--card-delay) + .5s); }
						&:nth-child(7) .top { animation-delay: calc(var(--card-delay) + .6s); }
						&:nth-child(8) .top { animation-delay: calc(var(--card-delay) + .7s); }
						&:nth-child(9) .top { animation-delay: calc(var(--card-delay) + .8s); }
						&:nth-child(10) .top { animation-delay: calc(var(--card-delay) + .9s); }
						&:nth-child(11) .top { animation-delay: calc(var(--card-delay) + 1s); }
						&:nth-child(12) .top { animation-delay: calc(var(--card-delay) + 1.1s); }
						&:nth-child(13) .top { animation-delay: calc(var(--card-delay) + 1.2s); }
						&:nth-child(14) .top { animation-delay: calc(var(--card-delay) + 1.3s); }
						&:nth-child(15) .top { animation-delay: calc(var(--card-delay) + 1.4s); }
						&:nth-child(16) .top { animation-delay: calc(var(--card-delay) + 1.5s); }
						&:nth-child(17) .top { animation-delay: calc(var(--card-delay) + 1.6s); }
						&:nth-child(18) .top { animation-delay: calc(var(--card-delay) + 1.7s); }
					}
				}
			}
		}

		.filter {
			transition: opacity .01s .01s;
			opacity: 0;
		}

		.util {
			transition: opacity .01s .01s;
			opacity: 0;
		}

		.swiper-scrollbar {
			transition: opacity .01s .01s;
			opacity: 0;
		}

		.item {
			top: 0;
			transition: top .1s .001s;
			transition-timing-function: ease-out;
		}

		&.aos-init {
			&.aos-animate {
				.item {
					transition: top .6s 2s;
					&:nth-child(1) { top: -15px; }
					&:nth-child(2) { top: -30px; }
					&:nth-child(3) { top: -45px; }
					&:nth-child(4) { top: -60px; }
					&:nth-child(5) { top: -75px; }
					&:nth-child(6) { top: -90px; }
					&:nth-child(7) { top: -105px; }
					&:nth-child(8) { top: -115px; }
					&:nth-child(9) { top: -130px; }
					&:nth-child(10) { top: -145px; }
					&:nth-child(11) { top: -130px; }
					&:nth-child(12) { top: -115px; }
					&:nth-child(13) { top: -105px; }
					&:nth-child(14) { top: -90px; }
					&:nth-child(15) { top: -75px; }
					&:nth-child(16) { top: -45px; }
					&:nth-child(17) { top: -30px; }
					&:nth-child(18) { top: -15px; }
				}
				&.in-selected {
					.item {
						top: 0;
						transition: top .4s .001s;
					}
				}
				&.out-selected {
					.item {
						transition: top .4s .001s;
						&:nth-child(1) { top: -15px; }
						&:nth-child(2) { top: -30px; }
						&:nth-child(3) { top: -45px; }
						&:nth-child(4) { top: -60px; }
						&:nth-child(5) { top: -75px; }
						&:nth-child(6) { top: -90px; }
						&:nth-child(7) { top: -105px; }
						&:nth-child(8) { top: -115px; }
						&:nth-child(9) { top: -130px; }
						&:nth-child(10) { top: -145px; }
						&:nth-child(11) { top: -130px; }
						&:nth-child(12) { top: -115px; }
						&:nth-child(13) { top: -105px; }
						&:nth-child(14) { top: -90px; }
						&:nth-child(15) { top: -75px; }
						&:nth-child(16) { top: -45px; }
						&:nth-child(17) { top: -30px; }
						&:nth-child(18) { top: -15px; }
					}
				}

				.filter {
					opacity: 1;
					transition: opacity .6s 4.6s;
				}

				.util {
					opacity: 1;
					transition: opacity .6s 4.6s;
				}

				.swiper-scrollbar {
					opacity: 1;
					transition: opacity .6s 4.6s;
				}
			}
		}
	}

	.bar-banner {
		.img {
			opacity: 0;
			transition: opacity .1s .001s;
		}

		&.aos-init {
			&.aos-animate {
				.img {
					opacity: 1;
					transition: opacity .6s .001s;
				}
			}
		}
	}

	.new-product {
		--product-delay: 1.4s;

		.item {
			height: 577px;

			.img {
				transition: height .001s .001s;
				height: 468px;
			}

			img {
				display: inline-block;
				transition: transform .001s .001s;
				transform: translateX(-100%);
			}
		}

		.action {
			.btn {
				opacity: 0;
				transition: opacity .001s .001s;
			}
		}

		&.aos-init {
			&.aos-animate {
				.item {
					.img {
						height: 577px;
						transition: height .6s calc(var(--product-delay) + .8s);
					}

					img {
						transition: transform .6s calc(var(--product-delay) + .001s);
						transform: translateX(0);
					}

					&:nth-child(2) {
						img { transition-delay: calc(var(--product-delay) + .12s); }
					}
					&:nth-child(3) {
						img { transition-delay: calc(var(--product-delay) + .24s); }
					}
					&:nth-child(4) {
						img { transition-delay: calc(var(--product-delay) + .36s); }
					}
				}

				.action {
					.btn {
						opacity: 1;
						transition: opacity .4s calc(var(--product-delay) + 1.8s);
					}
				}
			}
		}
	}

	.video-banner {
		.logo {
			.img1 {
				img {
					transform: translateX(-100%);
					transition: transform .1s .001s;
				}
			}

			.img2 {
				img {
					transform: translateX(100%);
					transition: transform .1s .001s;
				}
			}
		}

		.desc {
			.img {
				img {
					opacity: 0;
					transform: translateY(20px);
					transition: transform .1s .001s, opacity .1s .001s;
				}
			}
		}

		.action {
			.img {
				img {
					opacity: 0;
					transition: opacity .001s .001s;
				}
			}
		}

		&.aos-init {
			&.aos-animate {
				.logo {
					.img1 {
						img {
							transform: translateX(0);
							transition: transform .6s .001s;
						}
					}
		
					.img2 {
						img {
							transform: translateX(0);
							transition: transform .6s .001s;
						}
					}
				}

				.desc {
					.img {
						img {
							opacity: 1;
							transform: translateY(0);
							transition: transform .6s .8s, opacity .6s .8s;
						}
					}
				}

				.action {
					.img {
						img {
							opacity: 1;
							transition: opacity 1s 1.4s;
						}
					}
				}
			}
		}
	}

	.beyond-experience {
		.item {
			.btn-action {
				span {
					display: inline-block;
					opacity: 0;
					transition: transform .01s .01s, opacity .01s .01s;
					transform: translateY(-50%);
				}
			}

			&.is-aos {
				img { transition: transform .01s .01s; }
				&:nth-child(odd) {
					.img1 img { transform: translate(100%,0); }
					.img2 img { transform: translate(-100%,0); }
					.img3 img { transform: translate(0,100%); }
					.img4 img { transform: translate(0,-100%); }
				}
	
				img { transition: transform .01s .01s; }
				&:nth-child(even) {
					.img1 img { transform: translate(100%,0); }
					.img2 img { transform: translate(-100%,0); }
					.img3 img { transform: translate(0,100%); }
					.img4 img { transform: translate(0,-100%); }
				}
			}
		}

		&.aos-init {
			&.aos-animate {
				.item {
					.btn-action {
						span {
							opacity: 1;
							transform: translateY(0);
							transition: transform .6s 1.6s, opacity .6s 1.6s;
						}
					}

					&:nth-child(2) .btn-action span { transition-delay: 1.7s; }
					&:nth-child(3) .btn-action span { transition-delay: 1.8s; }
					&:nth-child(4) .btn-action span { transition-delay: 1.9s; }
					&:nth-child(5) .btn-action span { transition-delay: 2s; }
					&:nth-child(6) .btn-action span { transition-delay: 2.1s; }

					&.is-aos {
						&:nth-child(odd) {
							img {
								transition: transform .6s 2.5s,opacity .3s .01s;
								opacity: 1;
							}
							.img1 img { transform: translate(0,0); }
							.img2 img { transform: translate(0,0); }
							.img3 img { transform: translate(0,0); }
							.img4 img { transform: translate(0,0); }
						}
			
						&:nth-child(even) {
							img {
								transition: transform .6s 2.5s,opacity .3s .01s;
								opacity: 1;
							}
							.img1 img { transform: translate(0,0); }
							.img2 img { transform: translate(0,0); }
							.img3 img { transform: translate(0,0); }
							.img4 img { transform: translate(0,0); }
						}

						.btn-action {
							font-weight: 600;
							color: var(--text-black-color);
			
							transition: color .4s 2.5s;
		
							img { transition: opacity .4s 2.5s !important; }
						}
					}
				}
			}
		}
	}

	.paper-more {
		.accordion {
			.item {
				&::after {
					transition: width .01s .01s;
					width: 0;
				}

				&:first-child {
					&::before {
						transition: width .01s .01s;
						width: 0;
					}
				}

				.title {
					.txt {
						display: inline-block;
						opacity: 0;
						transition: opacity .01s .01s, transform .01s .01s;
						transform: translateY(50%);
					}
				}

				.arrow {
					transform: scale(0);
					transition: transform .001s .001s;
				}
			}
		}

		&.aos-init {
			&.aos-animate {
				.accordion {
					.item {
						&::after {
							width: 100%;
							transition: width 1.2s 1.6s;
						}

						&:first-child {
							&::before {
								width: 100%;
								transition: width 1.2s 1.6s;
							}
						}

						.title {
							.txt {
								opacity: 1;
								transform: translateY(0);
								transition: opacity .6s 1.6s, transform .6s 1.6s;
							}
						}

						.arrow {
							transform: scale(1);
							transition: transform .6s 2.6s;
						}
					}
				}
			}
		}
	}
}

.main-footer {
	z-index: var(--footer-zindex);
	background-color: var(--bg-white-color);
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color:var(--line-black-color);
	}
	& > .inner {
		width: 1920px;
		margin: 0 auto;
	}
}

.main-popup {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px;
	overflow: hidden;
	background-color: hsla(0, 0%, 0%, 0);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -999;
	transition: background .3s;

	& > .inner {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 1200px;
		max-height: 100%;
		padding: 95px 80px;
		margin: auto;
		overflow: hidden;
		background-color: var(--bg-white-color);
		opacity: 0;
		transition: opacity .3s;
		position: relative;
	}

	&.is-open {
		background-color: hsla(0, 0%, 0%, 0.6);
		z-index: var(--popup-zindex);
		transition: background .4s;

		& > .inner {
			opacity: 1;
			transition: opacity .4s;
		}
	}

	.btn-close {
		padding: 40px;
		position: absolute;
		top: 0;
		right: 0;
		padding: 40px;
	}

	.img { cursor: pointer; }
}