.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .contents {
    .horizontal {
      display: flex;
      width: 900vw;
      .hr-cont {
        section {
          width: 100vw;
          height: 100vh;
        }
      }
    }
  }
}

/* story */
.hr-cont.story {
  display: flex;
  width: 200vw;
  overflow: hidden;
  .sc-main {
    position: relative;
    width: 100vw;
    overflow: hidden;
    z-index: 190;
    .inner {
      position: relative;
      .group-img {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: scale(2.1);
          transform-origin: center;
          margin-top: -21vw;
          margin-left: -3.1vw;
          // transition: all .2s ease-in-out;
        }
      }
      .group-cont {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .main-area {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 8vw 8.75vw;
          .wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            &:nth-child(1) {
              padding-right: 27.63vw;
              margin-top: 5.2vw;
              gap: 2vw;
            }
            &:nth-child(2) {
              justify-content: center;
              gap: 2vw;
              padding-left: 7.5vw;
              padding-left: 5.5vw;
              margin-bottom: -1vw;
            }
            &:nth-child(3) {
              justify-content: left;
              padding-left: 5.7vw;
              gap: 2vw;
            }
            .text {
              font-size: 13.9583vw;
              font-weight: 700;
              color: #fff;
              letter-spacing: -5px;
              &.text2 {
                position: relative;
                .e-img {
                  position: absolute;
                  top: 0.47vw;
                  scale: 0.92;
                  width: 7.2vw;
                  right: -4.5vw;
                  height: 10.5vw;
                }
              }
              &.text4 {
                position: relative;
                display: flex;
                gap: 8.5vw;
                .e-img {
                  position: absolute;
                  top: 0.47vw;
                  scale: 0.92;
                  width: 7.2vw;
                  right: 8.8vw;
                  height: 10.5vw;
                }
              }
            }
            .box {
              // position: absolute;
              font-size: 1.41vw;
              font-weight: 700;
              line-height: normal;
              color: #222;
              letter-spacing: -0.794px;
              white-space: nowrap;
              padding: 1.82vw;
              background-color: #fff;
              margin-top: -2vw;
              // &.box1 {
              //   top: 3.5vw;
              //   left: 10vw;
              // }
              // &.box2 {
              //   top: 3vw;
              //   left: 26vw;
              // }
              // &.box3 {
              //   bottom: 3vw;
              //   left: 1vw;
              // }
              &.large {
                font-size: 4.38vw;
                font-weight: 600;
                letter-spacing: -2.525px;
                padding: 1.04vw 1.56vw;
              }
            }
          }
        }
        .exper-area {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 5vw;
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 19.27vw 15.36vw;
          .wrap {
            display: block;
            font-size: 4.68vw;
            font-weight: 700;
            color: #fff;
            line-height: 1.27;
            white-space: nowrap;
            overflow: hidden;
            opacity: 1;
            span {
              display: block;
            }
          }
          // .box01, .box02 {
          //   opacity: 1;
          // }
        }
      }
    }
    
  }
  .sc-idea {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
      padding: 5vw;
  }
}

/* space */
.hr-cont.space {
  display: flex;
  width: 200vw;
  overflow: hidden;
  .sc-main {
    position: relative;
    width: 100vw;
    z-index: 200;
    .inner {
      position: relative;
    }
    .group-img {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(3.47);
        transform-origin: center;
        margin-top: 16.5vw;
        margin-left: 196vw;
      }
    }
    .group-title {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 73.18vw;
      height: 100%;
      background-color: #111;
      padding: 17.6vw 5.21vw 16.67vw;
      .img-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7.24vw;
        height: 100%;
        .img-box:nth-child(1) {
          margin-bottom: auto;
          margin-left: 3.13vw;
        }
        .img-box:nth-child(2) {
          margin-top: auto;
        }
      }
    }
  }
  .sc-space {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .space {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3.8vw;
      position: absolute;
      height: 100%;
      padding: 6.25vw 3vw;
      visibility: hidden;
      opacity: 0;
      transition: all .2s ease-in-out;
      &.on {
        visibility: visible;
        opacity: 1;
        transition: all .3s ease-in-out;
      }
      .group-img {
        display: flex;
        align-items: center;
        position: relative;
        .img-box {
          width: 63.54vw;
          height: 43.75vw;
          transition: all .2s ease-in-out;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .btn-box {
          display: flex;
          gap: 0.52vw;
          position: absolute;
          top: 1.04vw;
          right: 1.04vw;
          button {
            padding: 0.52vw;
          }
        }
      }
      .group-txt {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3vw;
        height: 43.75vw;
        padding: 4.17vw 0;
        .row-top {
          display: flex;
          flex-direction: column;
          gap: 2.9vw;
          position: relative;
        }
      }
      &.scale-motion {
        gap: 0;
        // transition: all 0.8s ease-in-out;
        .img-box {
          width: 100vw;
          height: 100vh;
          transition: all 0.8s ease-in-out;
        }
        .space-arrow {
          opacity: 1;
        }
        &.space1 {
          .scale-btn {
            .img {
              background: url('../img/scale-down-wh.png') no-repeat;
            }
          }
        }
        &.space2 {
          .scale-btn {
            .img {
              background: url('../img/scale-down-bk.png') no-repeat;
            }
          }
        }
      }
      &.space1 {
        .map-link {
          position: absolute;
          top: 0;
          left: 12.5%;
          width: 21%;
          height: 31%;
        }
        .scale-btn {
          position: relative;
          z-index: 100;
          .img {
            display: block;
            width: 32px;
            height: 32px;
            background: url('../img/sub1-scale-wh.png') no-repeat;
            background-position: center;
            background-size: cover;
            transition: all .2s ease-in-out;
          }
        }
      }
      &.space2 {
        .map-link {
          position: absolute;
          top: 2%;
          left: 32.5%;
          width: 11.5%;
          height: 19%;
        }
        .scale-btn {
          position: relative;
          z-index: 100;
          .img {
            display: block;
            width: 32px;
            height: 32px;
            background: url('../img/sub1-scale-bk.png') no-repeat;
            background-position: center;
            background-size: cover;
            transition: all .2s ease-in-out;
          }
        }
      }
    }
  }
  .scale-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 0;
    height: 43.75vw;
    width: 63.54vw;
    transform: scale(1);
    z-index: 200;
    // transition: all .2s ease-in-out;
  }
  .space-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    opacity: 0;
    transition: all .2s ease-in-out;
    &.left {
      left: 3.13vw;
    }
    &.right {
      right: 3.13vw
    }
  }
  .virtual {
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      z-index: 90;
      &.area {
        width: 35%;
        height: 45%;
        right: 0;
        bottom: 0;
      }
    }
  }
}
/* resv */
.hr-cont.resv {
  display: flex;
  width: 200vw;
  overflow: hidden;
  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8.33vw 11.46vw;
    width: 100vw;
    height: 100vh;
    .img-wrap {
      display: flex;
      flex-direction: column;
      gap: 2.92vw;
    }
  }
}

.hr-cont.tour {
  display: flex;
  width: 200vw;
  overflow: hidden;
  .sc-step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10vw;
    width: 100vw;
    height: 100vh;
    background-color: #111;
    padding: 11.04vw 11.46vw;
    .img-box:nth-child(1) {
      margin-bottom: 7.92vw;
    }
  }
  .sc-apply {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    padding: 6.25vw 11.46vw 4.53vw;
    .img-box {
      width: 100%;
      object-fit: cover;
    }
  }
}

.hr-cont.faq {
  .sc-faq {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 6.25vw 11.46vw 5.52vw;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.inquiry {
  position: fixed;
  z-index: 150;
  bottom: 1.56vw;
  right: 1.56vw;
  cursor: pointer;
}

.lnb {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 200;
  .bar {
    transition: all .02s;
    &.active{
      width: 60px;
      margin-top: 19px;
      &::after {
        display: block;
      }
    }
    display: block;
    position: relative;
    width: 30px;
    height: 4px;
    background-color: #000;
    &::after {
      display: none;
      position: absolute;
      top: -17px;
      right: 0;
      font-size: 14px;
      font-weight: 700;
      transition: all .02s;
    }
    &.bar1 {
      color: #000;
      &::after {
        content: '스토리';
      }
    }
    &.bar2 {
      color: #fff;
      &::after {
        content: '공간체험';
      }
    }
    &.bar3 {
      color: #000;
      &::after {
        content: '시설예약';
      }
    }
    &.bar4 {
      color: #fff;
      &::after {
        content: '투어신청 ';
      }
    }
    &.bar5 {
      color: #000;
      &::after {
        content: 'FAQ ';
      }
    }
  }
}